body {
  text-align:       center;
  font-family:      sans-serif;
}

#intro {
  display:          inline-block;
  text-align:       left;
  vertical-align:   middle;
  margin:           1em;
  max-width:        25em;
}

#stats {
  display:          inline-table;
  vertical-align:   middle;
  margin:           1em;
}

#boxes {
  font-size:        0;
}

.box {
  font-family:      monospace;
  display:          inline-block;
  font-size:        10px;
  margin:           4px;
  background-color: #7f7f9f;
  padding:          4px;
  border:           2px outset #7f7f9f;
}

.box p {
  margin:           0;
  color:            white;
  text-shadow:      1px 1px 1px black;
}

canvas {
  border:           2px inset #7f7f9f;
  background-color: white;
}

.survivor {
  background-color: #9f9f7f;
}

.survivor, .survivor canvas {
  border-color:     #9f9f7f;
}

.mutant {
  background-color: #7f9f7f;
}

.mutant, .mutant canvas {
  border-color:     #7f9f7f;
}

.crossbreed {
  background-color: #9f7f7f;
}

.crossbreed, .crossbreed canvas {
  border-color:     #9f7f7f;
}

table {
  margin:           1em auto;
}

th {
  text-align:       left;
}

td {
  text-align:       right;
  min-width:        4em;
}

#legend {
  margin:           1em;
}

.legend {
  display:          inline-block;
  vertical-align:   middle;
  width:            1em;
  height:           1em;
  margin-left:      1em;
}

label {
  vertical-align:   middle;
}

.score {
  font-family:      monospace;
  font-size:        10px;
  display:          inline-block;
  margin-left:      1em;
}

em {
  font-weight:      bold;
  font-style:       italic;
  color:            #7f7f9f;
}
